h1{
	margin:2%;
	text-align:center;
	text-transform: uppercase;
	color: #FFFFFF;
}
h2{
	margin:10px;
	color: #321651;
}
body{
	margin: 10px;
	padding: 5px;
}
header{
	background: #d6fff6;
	box-sizing:border-box;
	color: #FFFFFF;
	background-color:#FFFFFF;
	overflow: auto;
	padding-left:20px;
	background: url('../images/flywheel.jpg') no-repeat;
	background-size: 100%;
	text-align:center;
}

p{margin: 10px;}

nav a{
	box-sizing:border-box;
	display:inline-block;
	height:60px;
	color: #FFFFFF;
	background:rgba(76, 175, 80, 0.4);
	text-decoration: none;
	margin:auto 0 2% 5%;
	padding:15px 5%;
	border-radius: 7px;
	border: 3px solid rgba(105,105,105,0.4);

}

.left{

	box-sizing:border-box;
	color:#06425C;
	background-color:#6f7e51;
	display: inline-block;
	width: 20%;
	min-width: 125px;
	height:100vh;
	overflow: auto;
	float: left;

}

.left img{
	display: block;
	width:20%;
	display:block;
	margin: 0 auto;
	border: 3px solid #000000;
	text-align:center;
	width: 80%;
	margin-top: 12%;
	margin-bottom: 12%;
	border-radius: 7px;

}

.right{
	display: inline-block;
	width:70%;
	height:100vh;
	overflow: auto;
	/*float:right;*/
}

.active { 
    background-color: rgba(76, 175, 80, 1);
}

